@import '../variables';

.hero
{
    width: 100%;
    min-height: 100vh;
    // background-color: rgba(255, 0, 0, 0.301);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 300px;

    h1,h2{
        color: $cor3;
        font-family: $fonte1;
        text-align: justify;
        font-size: 3rem;
        font-weight: normal;
        letter-spacing: 4px;
    }
  
    .t_1, .t_2, .t_3, .t_4{
        font-size: 5rem;
        font-family: $fonte1;

        animation: show_ease $time_animation ease;
    }

    .t_2{
        display: block;
        font-size: 6rem;
    }

    .t_3{
        display: block;
        font-size: 4.7rem;
    }

    .t_4{
        font-size: 6rem;
    }
    .button{
        background-color: $cor1;
        width: 500px;
        height: 75px;
        margin: auto;
        margin-top: 40px;
        position: relative;
        border-radius: 5px;
        @include box-shadow;

        animation: show_ease $time_animation ease;
        &::before{
            content: "Realize seu sonho";
            border-radius: 5px;
            font-family: $fonte2;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $cor2;
            color: $cor1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px;
            height: 75px;

            font-size: 2rem;
            transform: translate(10px, -10px);
            transition: .5s ease all;
        }

        &:hover{
            &::before{
                transform: translate(0px, 0px);
                background-color: $cor1;
                color: $cor2;
            }
        }
    }



    @media screen and (max-width: 1200px)
    {
        .t_2{
            display: block;
            font-size: 4rem;
        }
    
        .t_3{
            display: block;
            font-size: 2.7rem;
        }
    
        .t_4{
            font-size: 3rem;
        }

        .button{
            width: 400px;
            height: 50px;

            &::before{
                width: 400px;
                font-size: 1.5rem;
                height: 50px;
            }
        }

    }

    @media screen and (max-width: 650px)
    {
        h1{
            text-align: center;
        }
        .t_2{
            display: block;
            font-size: 2rem;
        }
    
        .t_3{
            display: block;
            font-size: 1.5rem;
        }
    
        .t_4{
            font-size: 1.5rem;
        }

        .button{
            width: 80%;
            margin: auto;
            height: 50px;

            &::before{
                width: 100%;
                margin: auto;
                font-size: 1.5rem;
                height: 50px;
            }
        }

    }



    .control
    {
        display: flex;
        flex-direction: column;
    }

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: blue;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('https://images.unsplash.com/photo-1520854221256-17451cc331bf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        filter: brightness(50%) grayscale(20%);
        background-position-x: center;
        background-position-y: center;
        z-index: -1;

    }
}