@import "../variables";

.background {
    position: relative;
    width: 100%;
    min-height: 90vh;
    padding: 60px 0px 0px 0px;
    overflow: hidden;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../backgrounds/xiaoyu-li-R-7I1_ut6Ps-unsplash.webp");
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(2px) brightness(80%);
        transform: scale(1.2);
    }

    .content {
        margin-bottom: 100px;
        background-color: transparent;
        @include box-shadow;
        border-radius: 16px;
        padding: 25px 0px;

        @media screen and (max-width: 768px)
        {
            padding: 10px;
        }

        padding-right: 25px;
        min-height: 50vh;
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $cor3;
            z-index: -1;
            opacity: 0.8;
            transform: scale(1.3);
            filter: blur(5px);
        }

        h2 {
            text-align: center;
            font-family: $fonte1;
            font-size: 3rem;
            color: $cor1;
            font-weight: bold;
            letter-spacing: 4px;
            margin-bottom: 50px;
        }

        img {
            transform: translateY(-15px);
        }

        .side {
            color: $cor1;
            h3 {
                font-family: $fonte1;
                font-size: 2rem;
                font-weight: bold;
            }
            p {
                font-size: 1.2rem;
                font-family: $fonte2;
            }
            ul {
                list-style: none;
                li {
                    margin-bottom: 10px;
                    a {
                        font-family: $fonte2;
                        color: $cor1;
                        text-decoration: none;
                        font-size: 1.2rem;
                        position: relative;
                        &::before {
                            content: "";
                            width: 1%;
                            height: 2px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            background-color: transparent;
                            transform: translateY(5px);

                            transition: 0.5s ease all;
                        }

                        &:hover {
                            &:before {
                                width: 100%;
                                background-color: $cor1;
                            }
                        }

                        .icon {
                            transform: scale(1.5);
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}
