@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.titulo {
  font-family: "Instrument Serif", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 2.5px;
}

.paragrafo {
  font-size: 1.1rem;
  font-family: "Inter", cursive;
  color: #292929;
  text-align: justify;
}

.button_bege {
  background-color: #FCCEB4;
  color: #59372F;
  border: none;
  min-height: 50px;
  min-width: 200px;
  padding: 5px 20px;
  font-family: "Inter", cursive;
  border-radius: 5px;
  transition: 0.5s ease all;
}
.button_bege:hover {
  cursor: pointer;
  background-color: #59372F;
  color: #FFF8F0;
}

.subtitulo {
  font-family: "Instrument Serif", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 2px;
}

@keyframes show_ease {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes from_top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes from_bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes zoom_in {
  from {
    transform: scale(1);
    background-size: 100%;
  }
  to {
    background-size: 110%;
    transform: scale(1.5);
  }
}
.animar {
  animation: from_bottom 1s ease;
}

.show {
  animation: show_ease 1s ease;
}

.background {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  min-height: 500px;
}
.background::before {
  content: "";
  background-image: url("https://images.pexels.com/photos/2306281/pexels-photo-2306281.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  filter: brightness(75%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  z-index: -1;
}
.background .content h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #FFF8F0;
  letter-spacing: 4px;
}
@media screen and (max-width: 768px) {
  .background span {
    background-color: rgba(48, 48, 48, 0.363);
    padding: 20px;
  }
}
.background .carousel_item {
  min-height: 500px;
}
.background .carousel_item .carousel_content {
  padding: 50px 60px;
  background-color: #FFF8F0;
  width: 80%;
  height: 100%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .background .carousel_item .carousel_content {
    border-radius: 15px;
  }
}
@media screen and (max-width: 768px) {
  .background .carousel_item .carousel_content {
    width: 100%;
    padding: 25px 15px;
  }
}
.background .carousel_item .carousel_content h3 {
  font-family: "Instrument Serif", cursive;
  font-size: 2.5rem;
}
.background .carousel_item .carousel_content p {
  font-size: 1.1rem;
  font-family: "Inter", cursive;
  color: #292929;
  text-align: justify;
}
.background .carousel_item .carousel_content .grid {
  display: grid;
  grid-template-columns: repeat(3, 33%); /* 3 colunas flexíveis */
  grid-template-rows: repeat(4, auto); /* 2 linhas com altura automática */
  gap: 10px;
  height: 500px;
}
@media screen and (max-width: 400px) {
  .background .carousel_item .carousel_content .grid {
    width: 320px;
    padding-left: 2px;
  }
}
.background .carousel_item .carousel_content .grid .grid_1 {
  background-color: green;
  grid-column: 1/4; /* Ocupará da coluna 1 até a 3 */
  grid-row: 1/4; /* Ocupará a primeira linha */
  overflow: hidden;
}
.background .carousel_item .carousel_content .grid .grid_1 img {
  width: 100%;
  height: 100%;
}
.background .carousel_item .carousel_content .grid .grid_2 {
  background-color: pink;
  grid-column: 1/2;
  grid-row: 4/4;
  overflow: hidden;
}
.background .carousel_item .carousel_content .grid .grid_2 img {
  width: 100%;
  height: 100%;
}
.background .carousel_item .carousel_content .grid .grid_3 {
  background-color: yellow;
  grid-column: 2/3;
  grid-row: 4/4;
  overflow: hidden;
}
.background .carousel_item .carousel_content .grid .grid_3 img {
  width: 100%;
  height: 100%;
}
.background .carousel_item .carousel_content .grid .grid_4 {
  grid-column: 3/4;
  grid-row: 4/4;
  background-color: brown;
  overflow: hidden;
}
.background .carousel_item .carousel_content .grid .grid_4 img {
  width: 100%;
  height: 100%;
}
.background .carousel_item .carousel_content .grid .image_grid {
  width: 100%;
}
.background .carousel_item .carousel_content .grid .select {
  filter: brightness(50%);
}
.background .carousel_item .carousel_content ul {
  list-style-image: url("../../img/list_icons.webp");
  list-style-position: inside;
  padding: 0;
  margin-top: 25px;
}
.background .carousel_item .carousel_content ul li {
  margin: 15px 0px;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.2;
  font-family: "Inter", cursive;
}/*# sourceMappingURL=Servicos.module.css.map */