@import "../variables";




.content{
    h1{
        font-family: $fonte1;
        letter-spacing: 2.5;
    }


    h3{
        font-family: $fonte2;
    }
    .list_link{
        color: $cor1;
    }


    p{
        font-size: 1rem;
        font-family: $fonte2;

    }

 
    .btn
    {
        color: $cor1;
        background-color: $cor2;
        width: 80%;
        display: block;
        margin: 20px auto ;
        text-align: center;
    }

    ul {
        // background-color: green;
        // height: 210px;
        list-style-image: url("../../img/list_icons.webp");
        list-style-position: inside;
        padding: 0;
        margin-top: 15px;
        li {
            margin: 15px 0px;
            text-align: justify;
            line-height: 2rem;
            font-size: 1.2;
            font-family: $fonte2;
            
        }
        margin-bottom: 80px;
    }
}

.grid{
    // background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 33%); /* 3 colunas flexíveis */
    grid-template-rows: repeat(4, auto); /* 2 linhas com altura automática */
    // gap: 10px;
    height:  300px;
    margin: auto;
    // width: 570px;
    width: 80%;
  
    @media screen and (max-width: 400px)
    {

        width: 275px;
        height: 275px;
        padding-left: 2px;
    }


    .grid_1, .grid_2, .grid_3, .grid_4{
        @include box-shadow;
        border-radius: 1rem;
        // aspect-ratio: 16/9;
        margin: 5px;

        // img{
        //     display: none !important;
        // }

        // background-color: red !important;
    }

    .grid_1{
        // background-color: green;
        // background-color:white !important;
        
        grid-column: 1 / 4; /* Ocupará da coluna 1 até a 3 */
        grid-row: 1 / 4; /* Ocupará a primeira linha */
        // grid-area: 1 / 4 / 1 / 4;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }

       
    }
    .grid_2{
        // background-color: pink;
        background-color:white;
        grid-column: 1 / 2;
        grid-row: 4 / 4;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .grid_3{
        // background-color: yellow;
        background-color:white;
        grid-column: 2 / 3;
        grid-row: 4 / 4;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .grid_4{
        grid-column: 3 / 4;
        grid-row: 4 / 4;
        // background-color: brown;
        background-color:white;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
  
    

    .grid_2, .grid_3, .grid_4{
        &:hover{
            cursor: pointer;
        }

        img{
            filter: brightness(50%) blur(1px);
            
            transform: scale(1.1);
            transition: .5s ease all;

        }
    }

    .image_grid
    {
        width: 100%;

    }

    
    .select{
        filter: brightness(100%) !important;
        transform: scale(1.3) !important;
        
    }
}
