@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.titulo {
  font-family: "Instrument Serif", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 2.5px;
}

.paragrafo {
  font-size: 1.1rem;
  font-family: "Inter", cursive;
  color: #292929;
}

.button_bege {
  background-color: #FCCEB4;
  color: #59372F;
  border: none;
  min-height: 50px;
  min-width: 200px;
  padding: 5px 20px;
  font-family: "Inter", cursive;
  border-radius: 5px;
  transition: 0.5s ease all;
}
.button_bege:hover {
  cursor: pointer;
  background-color: #59372F;
  color: #FFF8F0;
}

.subtitulo {
  font-family: "Instrument Serif", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 2px;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  height: 150px;
  background-color: #59372F;
  padding: 0px 150px;
}
@media screen and (max-width: 768px) {
  .cabecalho {
    padding: 0px 50px;
    justify-content: space-between;
  }
}
.cabecalho .logo_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cabecalho .logo_container .logo_imagem {
  height: 90%;
}
.cabecalho .large_nav {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .cabecalho .large_nav {
    display: none;
  }
}
.cabecalho .large_nav .menu_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.cabecalho .large_nav .menu_list .menu_list__link {
  text-decoration: none;
}
.cabecalho .large_nav .menu_list .menu_list__link:hover {
  text-decoration: underline;
  text-decoration-color: #FCCEB4;
}
.cabecalho .large_nav .menu_list .menu_list__link .menu_list__item {
  color: #FCCEB4;
  padding: 5px 10px;
  font-family: "Instrument Serif", cursive;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.cabecalho .hiddenNav {
  display: none;
}
@media screen and (max-width: 768px) {
  .cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
    height: 100px;
  }
  .cabecalho .hiddenNav {
    display: block;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cabecalho .hiddenNav .checkbox {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1000;
  }
  .cabecalho .hiddenNav .checkbox:checked ~ .menu_list {
    transform: translateX(0%);
  }
  .cabecalho .hiddenNav .checkbox:checked ~ .menu_list:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    display: block;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6156862745);
    opacity: 1;
    position: absolute;
    transform: translateX(-100%);
  }
  .cabecalho .hiddenNav .menu_list {
    background-color: #59372F;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 0px;
    z-index: 500;
    padding-top: 75px;
    transition: 0.5s ease all;
    transform: translateX(100%);
    list-style: none;
  }
  .cabecalho .hiddenNav .menu_list:before {
    content: "";
    transition: 0.5s ease all;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    position: absolute;
  }
  .cabecalho .hiddenNav .menu_list .menu_list__link {
    text-decoration: none;
  }
  .cabecalho .hiddenNav .menu_list .menu_list__link .menu_list__item {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: "Instrument Serif", cursive;
    color: #FCCEB4;
    transition: 0.5s ease all;
  }
  .cabecalho .hiddenNav .menu_list .menu_list__link .menu_list__item:hover {
    text-decoration: underline;
    text-decoration-color: #FCCEB4;
  }
}/*# sourceMappingURL=Header.module.css.map */