@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.titulo {
  font-family: "Instrument Serif", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 2.5px;
}

.paragrafo {
  font-size: 1.1rem;
  font-family: "Inter", cursive;
  color: #292929;
  text-align: justify;
}

.button_bege {
  background-color: #ffe2d1;
  color: #59372F;
  border: none;
  min-height: 50px;
  min-width: 200px;
  padding: 5px 20px;
  font-family: "Inter", cursive;
  border-radius: 5px;
  transition: 0.5s ease all;
}
.button_bege:hover {
  cursor: pointer;
  background-color: #59372F;
  color: #FFF8F0;
}

.link {
  font-style: italic;
  color: #59372F;
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: underline;
  letter-spacing: 1px;
  font-weight: bold;
  transition: 0.5s ease all;
}
.link:hover {
  background-color: #59372F;
  color: #FFF8F0;
  text-decoration: none;
}

.subtitulo {
  font-family: "Instrument Serif", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 2px;
}

@keyframes show_ease {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes from_top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes from_bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes zoom_in {
  from {
    transform: scale(1);
    background-size: 100%;
  }
  to {
    background-size: 110%;
    transform: scale(1.5);
  }
}
.animar {
  animation: from_bottom 1s ease;
}

.show {
  animation: show_ease 2s ease;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  height: 90px;
  background-color: #59372F;
  padding: 0px 150px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000000;
  animation: from_top 0.5s ease-out;
}
@media screen and (max-width: 768px) {
  .cabecalho {
    padding: 0px 50px;
    justify-content: space-between;
  }
}
.cabecalho .logo_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cabecalho .logo_container .logo_imagem {
  height: 90%;
}
@media screen and (max-width: 620px) {
  .cabecalho .logo_container {
    height: 70%;
    margin-top: 15px;
  }
}
.cabecalho .large_nav {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .cabecalho .large_nav {
    display: none;
  }
}
.cabecalho .large_nav .menu_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.cabecalho .large_nav .menu_list .menu_list__link {
  text-decoration: none;
}
.cabecalho .large_nav .menu_list .menu_list__link .menu_list__item {
  color: #ffe2d1;
  padding: 5px 10px;
  font-family: "Instrument Serif", cursive;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
}
.cabecalho .large_nav .menu_list .menu_list__link .menu_list__item::after {
  content: "";
  position: absolute;
  transition: 0.5s ease all;
  z-index: -1;
  width: 1%;
  height: 4px;
  border-radius: 0px 10px 10px 0px;
  background-color: transparent;
  bottom: 0;
  left: 0;
}
.cabecalho .large_nav .menu_list .menu_list__link .menu_list__item:hover::after {
  width: 100%;
  background-color: #ffe2d1;
}
.cabecalho .hiddenNav {
  display: none;
}
@media screen and (max-width: 768px) {
  .cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    height: 100px;
  }
  .cabecalho .hiddenNav {
    display: block;
    overflow: hidden;
    display: flex;
    width: -moz-max-content;
    width: max-content;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .cabecalho .hiddenNav .checkbox {
    width: 30px;
    height: 30px;
    opacity: 0;
    position: relative;
    z-index: 1000;
  }
  .cabecalho .hiddenNav .menu_icon {
    color: #FFF8F0;
    font-size: 1.9rem;
    position: absolute;
    top: 35px;
    z-index: 999;
    left: 0px;
    border-radius: 50%;
    padding: 1px;
    transition: 0.5s ease all;
  }
  .cabecalho .hiddenNav .checkbox:checked ~ .menu_icon {
    color: #59372F;
    transform: rotate(45deg);
    background-color: #FFF8F0;
  }
  .cabecalho .hiddenNav .checkbox:checked ~ .menu_list {
    transform: translateX(0%);
  }
  .cabecalho .hiddenNav .checkbox:checked ~ .menu_list:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    display: block;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6156862745);
    opacity: 1;
    position: absolute;
    transform: translateX(-100%);
  }
  .cabecalho .hiddenNav .menu_list {
    background-color: #59372F;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 0px;
    z-index: 500;
    padding-top: 75px;
    transition: 0.5s ease all;
    transform: translateX(100%);
    list-style: none;
  }
  .cabecalho .hiddenNav .menu_list:before {
    content: "";
    transition: 0.5s ease all;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    position: absolute;
  }
  .cabecalho .hiddenNav .menu_list .menu_list__link {
    text-decoration: none;
  }
  .cabecalho .hiddenNav .menu_list .menu_list__link .menu_list__item {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: "Instrument Serif", cursive;
    color: #ffe2d1;
    transition: 0.5s ease all;
  }
  .cabecalho .hiddenNav .menu_list .menu_list__link .menu_list__item:hover {
    text-decoration: underline;
    text-decoration-color: #ffe2d1;
  }
}/*# sourceMappingURL=Header.module.css.map */