@import '../variables';

.cabecalho
{
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: $cor1;
    // background-color: rgba(0, 255, 221, 0.329);
    padding: 0px 150px;
    // overflow: hidden;

    @media screen and (max-width:768px){
        padding: 0px 50px;
        justify-content: space-between;
    }
    .logo_container{
        height: 100%;
        // width: 20%;
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo_imagem{
            height: 90%;
        }

        
    }

    .large_nav
    {
        // background-color: blue;
        @media screen and (max-width: 768px){
            display: none;
        }
        width: 100%;
        .menu_list
        {
            list-style: none;
            display: flex;
            flex-direction: row;
            
            // background-color: yellow;

            width: 100%;
            height: 100%;
            justify-content: space-around;
            align-items: center;


            .menu_list__link{
                text-decoration: none;
                // color: black;

                &:hover{
                    text-decoration: underline;
                    text-decoration-color: $cor2;
                }

                .menu_list__item
                {
                    color: $cor2;
                    // background-color: pink;

                    padding: 5px 10px;
                    font-family: $fonte1;
                    font-size: 1.5rem;
                    font-weight: 500;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .hiddenNav{
        display: none;
    }

    @media screen and (max-width:768px) {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 300;
        height: 100px;

      
    

        .hiddenNav{
            display: block;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: red;
            .checkbox{
                width: 30px;
                height: 30px;
                
                position: relative;
                z-index: 1000;
            }

            .checkbox:checked ~ .menu_list{
                transform: translateX(0%);
                &:before{
                    content: "";
                    top: 0;
                    left: 0;
                    right: 0;
                    display: block;
                    bottom: 0;
                    background-color: #0000009d;
                    opacity: 1;
                    position: absolute;
                    transform: translateX(-100%);
                }
            }
            .menu_list{
                // background-color: aqua;
                background-color: $cor1;
                position: fixed;
                top: 0;
                right: 0;
                width: 50%;
                height: 100%;
                padding: 0px;
                z-index: 500;
                padding-top: 75px;
                transition: .5s ease all;

                transform: translateX(100%);

                &:before{
                    content: "";
                    transition: .5s ease all;
                    display: block;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 1;
                    position: absolute;
                    // transform: translateX(-374px);
                }

                

                list-style: none;
                .menu_list__link{   
                    text-decoration: none;

                    .menu_list__item{
                        // background-color: rgba(255, 0, 0, 0.267);
                        margin: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.5rem;
                        letter-spacing: 2px;
                        font-family: $fonte1;
                        color: $cor2;
                        // border-radius: 5px;

                        transition: .5s ease all;

                        &:hover{
                            // background-color: $cor2;
                            // color: $cor1;
                            text-decoration: underline;
                            text-decoration-color: $cor2;
                        }
                    }
                }
            }

            
        }
    }
}