@import "../variables";
*{
    margin: 0px;
    padding: 0px;
}

.card{
    width: 220px;
    height: 310px;
    margin: auto;
    // border: 1px solid black;
    
    .card__body{
        margin-top: 20px;
        text-align: center;
        h3{
            font-size: 2rem;
            font-family: $fonte1;
            letter-spacing: 3px;
        }
    }
}